/* ---FONTS ---*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700');

/* ---TEST ---*/
body { 
    background-color:rgba(246,246,246,0.2);
}

.text-shadow {
    2px 2px 2x rgba(0,0,0,0.5)
}

.flashes h4{
    line-height: 2;
}

h5 .btn-flat {
    border:solid 0.1mm;
    color:brown;
};

.table { display: table; } 
.table-row { display: table-row; }
.table-cell { display: table-cell; }

