{% extends "base.html" %}
{% block content %}
    <h4 class="center-align blue-grey-text text-darken-3">ADD NEW MEETING</h4>
    <!--Add form-->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_meeting')}}">
                <div class="card-panel grey lighten-5">
                <!-- fields inputs -->
                    <!--meeting Name-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-list prefix blue-grey-text text-darken-1"></i>
                            <input id="meeting_name" name="meeting_name" type="text" class="validate" required>
                            <label for="meeting_name">Meeting Full Name</label>
                        </div>
                    </div>
                    <!--meeting shortname-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-ellipsis-h prefix blue-grey-text text-darken-1"></i>
                            <input id="meeting_shortname" name="meeting_shortname" type="text" class="validate" required>
                            <label for="meeting_shortname">Meeting short name</label>
                        </div>
                    </div>
                    <!--meeting dashboard link provided-->
                    <div class="row">
                        <div class="switch">
                            <label for="meeting_linkdefined">
                                <input type="checkbox" id="meeting_linkdefined" name="meeting_linkdefined">
                                <span class="lever"></span>
                                link defined:
                            </label>
                        </div>
                    </div>
                    <!--meeting dashboard link-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-code prefix blue-grey-text text-darken-1"></i>
                            <textarea id="meeting_dashboardlink" name="meeting_dashboardlink" type="text" class="validate materialize-textarea"></textarea>
                            <label for="meeting_dashboardlink">Meeting Dashboard Link</label>
                        </div>
                    </div>
                    <!--buttons-->
                    <div class="row">
                        <div class="row">
                            <!--Cancel Button-->
                            <div class="col s6">
                                <a href="{{url_for('setup')}}" class="waves-effect red waves-light right btn ">CANCEL</a>
                            </div>
                            <!--submit Button-->
                            <div class="row">
                                <div class="col s6 right">
                                    <button type="submit" class="btn blue-grey text-shadow">SUBMIT</button> 
                                </div>
                            </div>
                        </div>
                    </div>           
                </div>
        </form>
    </div>
{% endblock %}
