{% extends "base.html" %}
{% block content %}
    <h4 class="center-align">ADD ACTION</h4>
    <!--New action input form-->
    <div class="row card-panel grey lighten-5">
        <div class="row">
            <!--form-->
            <form class="col s12">
                <!--1. input field: ref number, automatic-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list-ol prefix"></i>
                        <input disabled value="" id="action_refno" name="action_refno" type="text" class="validate">
                        <label for="action_refno">{{actions_counter}}</label>
                    </div>
                </div>
                <!--2. input field: logdate, automatic-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix"></i>
                        <input id="action_logdate" name="action_logdate" type="text" class="datepicker validate" required>
                        <label for="action_logdate" >Log Date</label>
                    </div>
                </div>
                <!--3. input field: action, text-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix"></i>
                        <textarea id="action_name" name="action_name" class="materialize-textarea validate" data-length="120" required></textarea>
                        <label for="action_name">Action</label>
                    </div>
                </div> 
                <!--4. input field: deadline, date picker-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix"></i>
                        <input id="action_due" name="action_due" type="text" class="datepicker validate" required>
                        <label for="action_due" >Due Date</label>
                    </div>
                </div>
                <!--5. input field: accountable, select component-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user prefix"></i>
                        <select id="user_name" name="user_name" class="materialize-textarea validate" required>
                            <option value="" disabled selected>Select User</option>
                            {%for user in users %}
                                <option value="{{user.user_name}}">{{user.user_name}}</option>
                            {%endfor%}
                        </select>
                        <label for="user_name">User</label>
                    </div>
                </div>
                <!--6. input field: department, select component-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-building prefix"></i>
                        <select id="dept_name" name="dept_name" class="validate" required>
                            <option value="" disabled selected>Select department</option>
                            {%for dept in depts %}
                                <option value="{{dept.dept_name}}">{{dept.dept_name}}</option>
                            {%endfor%}
                        </select>
                        <label for="dept_name">Department</label>
                    </div>
                </div>
                <!--7. input field: meeting, select component-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-users prefix"></i>
                        <select id="meeting_name" name="meeting_name" class="validate" required>
                            <option value="" disabled selected>Select Meeting</option>
                            {%for meeting in meetings%}
                                <option value="{{meeting.meeting_name}}">{{meeting.meeting_name }}</option>
                            {%endfor%}
                        </select>
                        <label for="meeting_name">Meeting</label>
                    </div>
                </div>
                <!--8. input field: workstream, select-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-stream prefix"></i>
                        <select id="workstream_name" name="workstream_name" class="validate" required>
                            <option value="" disabled selected>Select Workstream</option>
                            {%for workstream in workstreams%}
                                <option value="{{workstream.workstream_name}}">{{workstream.workstream_name }}</option>
                            {%endfor%}
                        </select>
                        <label for="workstream_name">Workstream</label>
                    </div>
                </div>
                <!--Cancell Button-->
                <!--Add action Button-->
                </div>
            </form>
        </div>
    </div>
{% endblock %}
