{% extends "base.html" %}
{% block content %}
    <h4 class="center-align blue-grey-text text-darken-3">ADD KPI</h4>
    <!--Add user fomr-->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_kpi')}}">
            <div class="card-panel grey lighten-4">
                <!-- KPI name input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-heading prefix blue-grey-text text-darken-1"></i>
                        <input id="kpi_name" name="kpi_name" type="text"  class="validate" required>
                        <label for="kpi_name">KPI name</label>
                    </div>
                </div>
                <!-- KPI shortname input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-ellipsis prefix blue-grey-text text-darken-1"></i>
                        <input id="kpi_shortname" name="kpi_shortname" type="text" class="validate" required>
                        <label for="kpi_shortname"> KPI shortname</label>
                    </div>
                </div>
                <!-- KPI uom input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-ruler prefix blue-grey-text text-darken-1"></i>
                        <input id="kpi_uom" name="kpi_uom" type="text" class="validate" required>
                        <label for="kpi_uom">KPI unit of measure</label>
                    </div>
                </div>
                <!-- KPI owner input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user prefix blue-grey-text text-darken-1"></i>
                        <select id="kpi_owner" name="kpi_owner" class="validate" required>
                            <option value="" disabled selected></option>
                            {%for owner in owners %}
                                <option value="{{owner.user_name}}">{{owner.user_name }}</option>
                            {%endfor%}
                        </select>
                        <label for="kpi_owner">KPI owner</label>
                    </div>
                </div>
                <!-- KPI description input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-file-alt prefix blue-grey-text text-darken-1"></i>
                        <input id="kpi_description" name="kpi_description" type="text" class="validate" required>
                        <label for="kpi_description">KPI description</label>
                    </div>
                </div>
                <!--buttons-->
                <div class="row">
                    <div class="row">
                        <!--Cancell Button-->
                        <div class="col s6">
                            <a href="{{url_for('setup')}}" class="waves-effect red waves-light right btn ">CANCEL</a>
                        </div>
                        <!--Add action Button-->
                        <div class="row">
                            <div class="col s6 right">
                                <button type="submit" class="btn blue-grey text-shadow" aria-label="kpi-submit">SUBMIT</button> 
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </form>
    </div>
{% endblock %}
