<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" type="text/css">
        <!-- materialise Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- connect to local css file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <!-- add block for custom css -->
        {% block styles %}
        {% endblock %}
        <title>Meeitngs Hub</title>
    </head>
    <header>
        <!-- navigation for PC mode-->
        <div class="navbar-fixed ">

        
        <nav class="blue-grey darken-4  text-shadow">
            <div class="nav-wrapper">
                <a href="{{url_for('logout')}}" class="brand-logo">M-Hub </a>
                <a href="{{url_for('logout')}}" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <!--nav links -->
                    {% if session.user %}
                        <!--nav links visible to admin-->
                        {% if session.user|lower=="admin"|lower %}
                            <li><a href="{{ url_for('setup')}}">ADMIN SETUP</a></li>
                            <li><a href="{{url_for('home')}}">MEETINGS</a></li>
                        {% endif %}
                        <!--nav links visible to logged in user-->
                        <li><a href="{{url_for('user_dashboard', username=session['user'])}}">ACTION DASHBOARD</a></li>
                        <li><a href="{{url_for('kpi_input')}}">KPI INPUTs</a></li>
                        <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
                        <!--nav links visible to anybody-->
                        {% else %}
                            <li><a href="{{url_for('login')}}">LOGIN</a></li>
                            <li><a href="{{url_for('register')}}">REGISTER</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        </div>
        <!--navigation mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align blue-grey-text text-darken-2">Meetings Hub</h4></li>
            <!--nav links -->
            {% if session.user %}
                <!--nav links visible to admin-->
                {% if session.user|lower=="admin"|lower %}
                    <li><a href="{{ url_for('setup')}}">ADMIN SETUP</a></li>
                    <li><a href="{{url_for('home')}}">MEETINGS</a></li>
                {% endif %}
                <!--nav links visible to logged in user-->
                <li><a href="{{url_for('user_dashboard', username=session['user'])}}">ACTION DASHBOARD</a></li>
                <li><a href="{{url_for('kpi_input')}}">KPI INPUTs</a></li>
                <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
                <!--nav links visible to anybody-->
                {% else %}
                    <li><a href="{{url_for('login')}}">LOGIN</a></li>
                    <li><a href="{{url_for('register')}}">REGISTER</a></li>
            {% endif %}
        </ul>
    </header>
    <body>
        <section>
            <!--flash message-->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <!--flash message frmatting-->        
                        <div class="row flashes">
                            <div class="card-panel col s12 m4 offset-m4 amber lighten-5">
                                <strong>
                                    <p class="deep-orange-text text-darken-4  center-align">
                                        {{ message }}
                                    </p>
                                </strong>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>
        <main class="container">
            <!--main content-->
            {% block content %}
            {% endblock%}
        </main>
        <!-- JQuery Compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <!-- Materialise Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- connect to local scrip.js file -->
        <script src="{{ url_for ('static', filename='js/script.js')}}"></script>
        <!-- add block for custom js -->
        {% block script %}
        {% endblock %}
    </body>
</html>