{% extends "base.html" %}
{% block content %}
    <!--warhing message-->
    <div class="row">
        <div class="card-panel col s8 m8 offset-m2 amber lighten-5">
            <strong>
                <p class="deep-orange-text text-darken-4  center-align">
                    "WARNING! You CANNOT EDIT the kpi input on this page! CLONE ONLY"
                </p>
            </strong>
        </div>
    </div>
    <!--title for the page-->
    <h4 class="center-align blue-grey-text text-darken-3">CREATE NEW KPI INPUT</h4>
    <!--Add form-->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('copy_kpiinput', kpiinput_id = input._id)}}">
            <div class="card-panel blue-grey lighten-5">
            <!-- kpiinputs -->
                <!-- kpiinput name - text-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-ellipsis-h prefix blue-grey-text"></i>
                        <select id="input_kpiname" name="input_kpiname" class="materialize-textarea validate" required>
                            <option value="{{input.input_kpiname}}" selected>{{input.input_kpiname}}</option>
                            {%for kpi in kpis %}
                                <option value="{{kpi.kpi_name
                                }}">{{kpi.kpi_name}}</option>
                            {%endfor%}
                        </select>
                        <label for="input_kpiname">KPI name</label>
                    </div>
                </div>
                <!-- kpiinput logdate - datepicker -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix blue-grey-text"></i>
                        <input value="{{input.input_logdate}}"id="input_logdate" name="input_logdate" type="text" class="datepicker validate" required>
                        <label for="input_logdate" >Log Date</label>
                    </div>
                </div>
                <!-- kpiinput weeknumber - text-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-week prefix blue-grey-text"></i>
                        <input value="{{input.input_weeknumber}}" id="input_weeknumber" name="input_weeknumber" type="text" class="validate" required>
                        <label for="input_weeknumber">Weeknumber</label>
                    </div>
                </div>
                <!-- kpiinput uom - text-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-ruler prefix blue-grey-text"></i>
                        <input value="{{input.input_uom}}" id="input_uom" name="input_uom" type="text" class="validate" required>
                        <label for="input_uom">Unit of measure</label>
                    </div>
                </div>
                <!-- kpiinput bsl- text -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-terminal prefix blue-grey-text"></i>
                        <input value="{{input.input_bsl}}" id="input_bsl" name="input_bsl" type="text" class="validate" required>
                        <label for="input_bsl">Baseline</label>
                    </div>
                </div>
                <!-- kpiinput tgt- text -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-crosshairs prefix blue-grey-text"></i>
                        <input value="{{input.input_tgt}}" id="input_tgt" name="input_tgt" type="text" class="validate" required>
                        <label for="input_tgt">Target</label>
                    </div>
                </div>
                <!-- kpiinput act- text -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-chart-bar prefix blue-grey-text"></i>
                        <input value="{{input.input_act}}" id="input_act" name="input_act" type="text" class="validate" required>
                        <label for="input_act">Actual</label>
                    </div>
                </div>
                <!-- kpiinput status - text -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-medal prefix blue-grey-text"></i>
                        <select id="input_status" name="input_status" class="materialize-textarea validate" required>
                            <option value="{{input.input_status}}" selected>{{input.input_status}}</option>
                            {%for kpistatus in kpistatuss %}
                                <option value="{{kpistatus.kpistatus_color
                                }}">{{kpistatus.kpistatus_color}}</option>
                            {%endfor%}
                        </select>
                        <label for="input_status">Status</label>
                    </div>
                </div>
                <!-- kpiinput owner - select -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user prefix blue-grey-text"></i>
                        <select id="input_kpiowner" name="input_kpiowner" class="materialize-textarea validate" required>
                            <option value="{{input.input_kpiowner}}" selected>{{input.input_kpiowner}}</option>
                            {%for owner in owners %}
                                <option value="{{owner.user_name}}">{{owner.user_name}}</option>
                            {%endfor%}
                        </select>
                        <label for="input_kpiowner">KPI Owner</label>
                    </div>
                </div>
                <!--buttons-->
                <div class="row">
                    <div class="row">
                        <!--Cancell Button-->
                        <div class="col s6">
                            <a href="{{url_for('kpi_input')}}" class="waves-effect waves-red btn-flat right ">CANCEL</a>
                        </div>
                        <!--Add action Button-->
                        <div class="col s6 left">
                            <button type="submit" class="btn blue text-shadow">SUBMIT</button> 
                        </div>
                    </div>
                </div>           
            </div>
        </form>
    </div>
{% endblock %}
