{% extends "base.html" %}
{% block content %}
    <h4 class="center-align text-darken-3">EDIT WORKSTREAM</h4>
    <!--Add form-->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_workstream', workstream_id = workstream._id)}}">
            <div class="card-panel blue-grey lighten-5">
                <!-- inputs -->
                <!-- input name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-stream prefix blue-grey-text text-darken-1"></i>
                        <input value="{{workstream.workstream_name}}" id="workstream_name" name="workstream_name" type="text" class="validate" required>
                        <label for="workstream_name">Workstream</label>
                    </div>
                </div>
                <!-- input shortname -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-building prefix blue-grey-text text-darken-1"></i>
                        <input value="{{workstream.workstream_shortname}}" id="workstream_shortname" name="workstream_shortname" type="text" class="validate" required>
                        <label for="workstream_shortname">Workstream Shortname</label>
                    </div>
                </div>
                <!--buttons-->
                <div class="row">
                    <div class="row">
                        <!--Cancell Button-->
                        <div class="col s6">
                            <a href="{{url_for('setup')}}" class="waves-effect red waves-light right btn ">CANCEL</a>
                        </div>
                        <!--Add action Button-->
                        <div class="row">
                            <div class="col s6 right">
                                <button type="submit" class="btn blue-grey text-shadow" aria-label="edit-workstream-submit">SUBMIT EDIT</button> 
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </form>
    </div>
{% endblock %}
