{% extends "base.html" %}
{% block content %}
    <h4 class="center-align">EDIT ACTION (ADMIN ONLY)</h4>
    <!--Add form-->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_action', action_id = action._id)}}">
            <div class="card-panel">
                <!-- inputs -->
                <!-- refno -->
                <div class="row">
                    <div class="input-field col s9 center-align offset-m1">
                        <i class="fas fa-list-ol prefix blue-grey-text"></i>
                        <input value="{{action.action_refno}}" id="action_refno" name="action_refno" type="text" class="validate" required>
                        <label for="action_refno">Reference number</label>
                    </div>
                </div>
                <!-- action -->
                <div class="row">
                    <div class="input-field col s9 center-align offset-m1">
                        <i class="fas fa-exclamation-circle prefix blue-grey-text"></i>
                        <input value="{{action.action_name}}" id="action_name" name="action_name" type="text" class="validate" required>
                        <label for="action_name">Action</label>
                    </div>
                </div>
                <!-- accountable -->
                <div class="row">
                    <div class="input-field col s9 offset-m1">
                        <i class="fas fa-user prefix blue-grey-text"></i>
                        <select id="action_accountable" name="action_accountable" class="materialize-textarea validate" required>
                            <option value="{{action.action_accountable}}" selected >{{action.action_accountable}}</option>
                            {%for user in users %}
                                <option value="{{user.user_name}}" >{{user.user_name}}</option>
                            {%endfor%}
                        </select>
                        <label for="action_accountable">Accountable</label>
                    </div>
                </div>
                <!-- deadline -->
                <div class="row">
                    <div class="input-field col s9 center-align offset-m1">
                        <i class="fas fa-calendar-alt prefix"></i>
                        <input value="{{action.action_due}}" id="action_due" name="action_due" type="text" class="datepicker validate" required>
                        <label for="action_due" >Deadline</label>
                    </div>
                </div>
                <!-- input name -status edit -->
                <div class="row">
                    <div class="input-field col s9 offset-m1">
                        <i class="fas fa-medal prefix blue-grey-text"></i>
                        <select id="action_status" name="action_status" class="validate" required>
                            <option value="{{action.action_status}}" selected>{{action.action_status}}</option>
                            {%for status in completionstatus%}
                                <option value="{{status.completionstatus_name}}">{{status.completionstatus_name}}</option>
                            {%endfor%}
                        </select>
                        <label for="action_status">Completion Status</label>
                    </div>
                </div>
                <!--buttons-->
                <div class="row">
                    <div class="row">
                        <!--Cancell Button-->
                        <div class="col s6">
                            <a href="{{url_for('user_dashboard', username=session['user'])}}" class="waves-effect red waves-light right btn ">CANCEL</a>
                        </div>
                        <!--Add action Button-->
                        <div class="row">
                            <div class="col s6 right">
                                <button type="submit" class="btn blue-grey text-shadow">SUBMIT EDIT</button> 
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </form>
    </div>
{% endblock %}
