{% extends "base.html" %}
{% block content %}
    <h4 class="center-align">MEETTNG DASHBOARD</h4>
    <!--Filters-->
    <!--form for meeting selection-->
    <form class="col" action="{{url_for('home')}}" method="POST">
        <div class="row">
            <div class="col s12 m7 input-field">
                <!--support from Kevin - he recommended to use Jquery to fix an issue with filtering and getting an url-->
                <select id="meeting_name">
                    {%for meeting in meetings %}
                        <option value="{{ meeting.meeting_name }}" data-url="{{ meeting.meeting_dashboardlink}}">{{ meeting.meeting_name }}</option>
                    {%endfor%}
                </select>
                <label for="meeting_name">Select Meeitng</label>
                
            </div>
            <!--Button to select meeting-->  
            <div class="col s6 m3 input-field left">
                <button type="submit" class="align-left red text-darken-4 right btn"><i class="fas fa-sort-amount-down"></i>
                </button>
            </div>
        </div>
        <!--dashboard section-->
            <iframe id="mdashboard" width="800" height="400" src="{{ link }}" frameborder="0" allowFullScreen="true" class="card-panel">
            </iframe>
    </form> 
{% endblock %}
