{% extends "base.html" %}
{% block content %}
    <!-- Page title-->
    <h4 class="center-align">{{user.upper()}}'s KPI INPUTS </h4> <br>

    <!-- Title and dashboard link-->
    <div class="row">
        <div class="col s6">
            <h5 class="align-left red-text text-darken-4"> <i class="fas fa-chart-line"></i><i class="fas fa-caret-right"></i> KPI Inputs</h5>
        </div>
        <!--button cancel-->
        <div class="col s3 right">
            <h5> <a class="waves-effect waves-red btn-flat" href="{{url_for('add_kpiinput')}}"> ADD INPUT </a></h5>
        </div>
    </div>
    <hr>
    <!--KPI Input filtering section-->
    <div class="row card-panel grey lighten-5 s12">
        <h6 class="align-left red-text text-darken-4">Search input by kpi, owner, weeknumber or status:</h6>
        <!--form for filter button # is used for trigerring reguest.method condition on app.py inside kpi_input template-->
        <form action="#" method="POST" class="s12">
            <!--Filters Section-->
            <div class="row">
                <!--Filter dropdown-->
                <div class="col s9">
                    <input value="" id="search_kpiinput" name="search_kpiinput" type="text">
                    <label for="search_kpiinput">type in text and press filter</label>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col s2">
                            <button type="submit" class="waves-effect waves-light blue-grey btn">
                                <i class="fas fa-sort-amount-down prefix"> </i> 
                            </button>
                        </div>
                        <!--Reset button-->
                        <div class="col s2 right">
                            <a href="{{url_for('kpi_input')}}" class="red btn text-shadow"><i class="fas fa-refresh"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--KPI Inputs-->
    <div class="row card-panel grey lighten-5 s12">
        <h6 class="align-left red-text text-darken-4">Copy/Edit (admin only):</h6>
        <!--KPI table-->
        <table class="highlight responsive-table centered">  
            <thead>
                <tr class="grey lighten-2">
                    <th>KPI</th>
                    <th>Owner</th>
                    <th>Date</th>
                    <th>Week</th>
                    <th>UoM</th>
                    <th>BSL</th>
                    <th>TGT</th>
                    <th>ACT</th>
                    <th>STATUS</th>
                    <th>Copy/Edit</th>
                </tr>
            </thead>
            <!-- KPIS Summary - table body-->
            <tbody>
                {%for input in kpiintputs %}
                    <tr>
                        <td>{{ input.input_kpiname }}</td>
                        <td>{{ input.input_kpiowner }}</td>
                        <td>{{ input.input_logdate }}</td>
                        <td>{{ input.input_weeknumber }}</td>
                        <td>{{ input.input_uom }}</td>
                        <td>{{ input.input_bsl }}</td>
                        <td>{{ input.input_tgt }}</td>
                        <td>{{ input.input_act }}</td>
                        <!--check status and assign color icons -->
                        {%if input.input_status=="red" %}
                            <td>
                                <i class="fas fa-times-circle red-text"></i>
                            </td>
                            {%elif input.input_status=="green"%}
                                <td>
                                    <i class="fas fa-check-circle green-text"></i>
                                </td>
                            {% else %}
                                <td>
                                    <i class="far fa-circle grey-text"></i>
                                </td>               
                        {%endif%}
                        <!--add full edit right button for admin and statusedit right button for other users-->
                        {% if session["user"] == "admin" %}
                            <td>
                                <a href="{{url_for('copy_kpiinput',  kpiinput_id = input._id)}}" class="btn blue">CLONE</a>
                                <a href="{{url_for('edit_kpiinput',  kpiinput_id = input._id)}}" class="btn blue-grey">EDIT</a>
                                
                            </td>
                        {% else %}
                            <td>
                                <a href="{{url_for('copy_kpiinput',  kpiinput_id = input._id)}}" class="btn blue">CLONE
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {%endfor%}
            </tbody> 
        </table>      
    </div>

{% endblock %}
