{% extends "base.html" %}
{% block content %}
    <!-- Page title-->
    <h4 class="center-align">KPI INPUTS </h4> <br>

    <!-- Title and dashboard link-->
    <div class="row">
        <div class="col s6">
            <h5 class="align-left red-text text-darken-4"> <i class="fas fa-list"></i> KPI Inputs</h5>
        </div>
        <!--button cancel-->
        <div class="col s4 right">
            <h5> <a class="waves-effect waves-teal btn-flat" href="{{ url_for('home')}}"> MEETING DASHBAORD </a></h5>
        </div>
    </div>
    <hr><br>
    <!--KPI Inputs-->
    <div class="row card-panel grey lighten-5 s12">
        <!--from for filter button-->
        <form action="{{url_for('filter')}}" method="POST" class="s12">
            <!--Filters Section-->
            <div class="row">
                <!--Filter dropdown-->
                <div class="col s6">

                    <select id="input_kpiname" name="input_kpiname" class="materialize-textarea validate" required>
                        <option value="" disabled selected>{{ kpiselection }}</option>
                        {%for kp in kpi%}
                            <option value="{{kp.kpi_name}}">{{kp.kpi_name}}</option>
                        {% endfor %}
                        <label for="input_kpiname"></label>
                    </select>
                </div>
                <div class="col s2 center-align">
                    <button type="submit" class="waves-effect blue-grey btn">
                        <i class="fas fa-sort-amount-down"></i>
                    </button>
                </div>
                <div class="col s left">
                    <a href="{{url_for('kpi_input')}}" class="red btn text-shadow"><i class="fas fa-refresh"></i></a>
                </div>
            </div>
        </form>
        <!--KPI table-->
        <table class="highlight centered">  
            <thead>
                <tr class="grey lighten-2">
                    <th>KPI</th>
                    <th>Date</th>
                    <th>Week</th>
                    <th>UoM</th>
                    <th>BSL</th>
                    <th>TGT</th>
                    <th>ACT</th>
                    <th>STATUS</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <!-- KPIS Summary - table body-->
            <tbody>
                {%for input in kpiintputs %}
                    <tr>
                        <td>{{ input.input_kpiname }}</td>
                        <td>{{ input.input_logdate }}</td>
                        <td>{{ input.input_weeknumber }}</td>
                        <td>{{ input.input_uom }}</td>
                        <td>{{ input.input_bsl }}</td>
                        <td>{{ input.input_tgt }}</td>
                        <td>{{ input.input_act }}</td>
                        <td>{{ input.input_status }}</td>
                        <td><a href="#" class="btn blue-grey">EDIT</a></td>
                    </tr>
                {%endfor%}
            </tbody> 
        </table>      
    </div>
    <!--New KPI Input-->
    <div class="row card-panel grey lighten-5 s12">
        <form class="col s12" method="POST" action="{{url_for('add_kpiinput')}}">
            <!-- KPIS Table - headings-->
            <div class="table"> 
                <div class="table-row s12">
                    <div class="table-cell">
                        <input value="{{ kpiselection }}" id="input_kpiname" name="input_kpiname" type="text" class="validate"required>
                        <label for="input_kpiname">KPI</label>
                    </div>
                    <div class="table-cell"> 
                        <input id="input_logdate" name="input_logdate" type="text" class="datepicker center-align" required>
                        <label for="input_logdate">Log Date</label>
                    </div>
                    <div class="table-cell">
                        <input value="" id="input_weeknumber" name="input_weeknumber" type="text" class="validate"required>
                        <label for="input_weeknumber">week</label>
                    </div>
                    <div class="table-cell"> 
                        <input value="" id="input_uom" name="input_uom" type="text" class="validate" required>
                        <label for="input_uom">uom</label>
                    </div>
                    <div class="table-cell"> 
                        <input value="" id="input_bsl" name="input_bsl" type="text" class="validate" required>
                        <label for="input_bsl">bsl</label>
                    </div>
                    <div class="table-cell"> 
                        <input value="" id="input_tgt" name="input_tgt" type="text" class="validate" required>
                        <label for="input_tgt">tgt</label>
                    </div>
                    <div class="table-cell"> 
                        <input value="" id="input_act" name="input_act" type="text" class="validate" required>
                        <label for="input_act">act</label>
                    </div>
                    <div class="table-cell"> 
                        <input value="" id="input_status" name="input_status" type="text" class="validate" required>
                        <label for="input_status">status</label>
                    </div>
                    <!--Button to add inputs-->
                    <div class="table-cell">
                        <button type="submit" class="btn-floating text-shadow">
                            <i class="fas fa-angle-right green">
                            </i>
                        </button>
                    </div>
                </div>
            </div> 
        </form>
    </div>

{% endblock %}
