{% extends "base.html" %}
{% block content %}
    <h4 class="center-align">Login</h3>
    <!--register link-->
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Not registered yet?
                <a href="{{url_for('register')}}" class="light-blue-text text-darken-4">Register</a>
            </p>
        </div>       
    </div>
    <!--input form-->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login')}}">
                <div class="card-panel">
                <!-- Name inputs -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-cog prefix blue-grey-text text-darken-1"></i>
                            <input id="user_name" name="user_name" type="text" class="validate">
                            <label for="user_name">Name</label>
                        </div>
                    </div>
                <!-- Passsword inputs -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-lock prefix blue-grey-text text-darken-1"></i>
                            <input id="user_password" name="user_password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="user_password">Password</label>
                        </div>
                    </div>
                <!-- Register button -->
                    <div class="row">
                        <button class="submit col s12 btn-large blue-grey darken-1 text-shadow"><i class="fas fa-sign-in-alt"></i></button>
                    </div>           
                </div>
        </form>
    </div>
{% endblock %}
